<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>ExamenEmbebido</title>
</head>
<body>
<center><h1> UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1></center>
<center><h1> FACULTAD DE INGENIERIA</h1></center>
<center><h1> ESCUELA DE ELECTRONICA Y TELECOMUNICACIONES</h1></center>
<center><img src "static/images/test.jpg" alt ="user"></center>

<button id = "cd3" type="button" onclick="INGRESO ();">
Verificar</button>
</tr>
<h2> LUZ NUMERO 1</>

<br />
<h1>Estado del led 1:</h><h id="respuesta1">--</h1>
<br />

<h2> LUZ NUMERO 2</>

<br />
<h1>Estado del led 2:</h><h id="respuesta2"></h1>